.add-form {
    background-color: #E09A38;
    height: auto;
    min-height: 60vh;
    color: white;
    text-shadow: 0 0 5px black;
}

.add-form form {
    width: 700px;
    margin: 0 auto;
    padding-bottom: 2vh;
}

.add-form h1 {
    font-size: 3em;
    text-align: center;
    padding-top: 1vh;
}

.add-form p {
    margin-top: 2em;
}

.add-form label {
    font-size: 2em;
}

.add-form input {
    width: 100%;
    margin-top: 0.3em;
    padding: 0.1em;
    font-size: 1em;
}

.add-form button {
    display: block;
    margin: 2vh auto;
    color: white;
    background-color: #4FBBFF;
    border: 2px solid white;
    border-radius: 3px;
    font-size: 1.1em;
    width: 7vw;
    max-width: 128px;
    text-align: center;
    text-transform: uppercase;
    padding: 4px 1px;
    transition: 0.3s;
}

.add-form button:hover {
    color: #8C5201;
    border-color: #8C5201;
}

.info-h2 {
    background-color: #E09A38;
    height: auto;
    min-height: 60vh;
}

.info-h2 h2 {
    max-width: 500px;
    margin: 0 auto;
    font-size: 2em;
    color: white;
    padding-top: 5vh;
    text-align: center;
}